.nav-links a{
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    margin: 8px;
    padding: 8px;
    display: block;
}  
.nav-links a:hover {
    color: rgba(255, 255, 255, 1);
}

.active {
    color: orangered !important; 
    background: rgb(132, 132, 132);
    border-radius: 10px;
}